* {
    background: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-around;
    /* align-items: stretch; */
    align-content: center;
}

.flex-container div {
    width: 100px;
    height: 100px;
    font-size: 20px;
    background: blueviolet;
    margin: 15px;
}